[submodule "meta-rust"]
	path = meta-rust
	url = https://github.com/meta-rust/meta-rust.git
[submodule "poky"]
	path = poky
	url = https://git.yoctoproject.org/git/poky
[submodule "meta-intel"]
	path = meta-intel
	url = https://git.yoctoproject.org/git/meta-intel
