[Unit]
Description=Launch default realm
ConditionPathExists=!/run/realms
ConditionPathExists=/realms/default.realm


[Service]
ExecStart=/usr/libexec/citadel-boot start-realms
Type=oneshot
RemainAfterExit=yes
