[Unit]
Description=Launch default realm
ConditionPathExists=!/run/realms
ConditionPathExists=/realms/default.realm


[Service]
ExecStart=/usr/bin/realms start
Type=oneshot
RemainAfterExit=yes
