[Unit]
Description=Set up citadel rootfs by mounting 'kernel' and 'extra'
DefaultDependencies=no
Conflicts=shutdown.target
After=sysroot.mount
Requires=sysroot.mount
Before=initrd-root-fs.target shutdown.target
AssertPathExists=/etc/initrd-release

[Service]
KeyringMode=shared
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/libexec/citadel-boot setup
