[Unit]
Description=Run script to configure host0 interface
Before=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/libexec/configure-host0.sh

[Install]
WantedBy=sysinit.target
