[Unit]
Description=Default User Image
ConditionPathExists=/storage/machines/default-user-rootfs

[Service]
ExecStart=/usr/bin/systemd-nspawn --quiet --keep-unit --boot --link-journal=try-guest --directory=/storage/machines/default-user-rootfs
KillMode=mixed
Type=notify
RestartForceExitStatus=133
SuccessExitStatus=133

[Install]
WantedBy=multi-user.target
